body {background-position: 70%;
    background-image: $fondo;
}

     
header{ 
 .logo 
    { @include alto-ancho(30%,30%);
      border: solid 5px;
      border-color: $blanco;
      @include margenes(35%,0,3%);
      animation-duration: 2s;
      animation-name: aparecer;
      animation-iteration-count: 1;
   }
        
      
}

main { 
   h1 { 
         
     text-align: center;
     color: $blanco;
     background-color: $negro;
     border: solid 5px;
     border-color: $blanco;
     @include margenes (25%,25%,2%);
     padding: 1em;       
     animation-duration: 1s;
     animation-name: movimientotitulo;
     animation-iteration-count: 1;
   }
   
   .carousel { 
      @include alto-ancho (10%, 50%);
      @include margenes (25%,0,0);
   }

   form { background-color: $negro;
           @include alto-ancho (25%, 75%);
          padding: 5%;
          
          @include margenes (13%,13%,0);
        } 
   p { 
      color: $blanco;
      background-color: $negro;
      border: solid 5px;
      border-color: $blanco;
      text-align: center;
      @include margenes(9%,10%,3%);
      padding: 0.5em;
   }
     
   
        
     
   a { 
      color: $blanco;
      text-decoration: none;
       
   }
      
   label { 
      color: $blanco;
      text-align: left;
   }

   iframe {
      @include margenes(20%,0,0);
   }
}
      
footer { 
    @include alto-ancho(100%,100%);
    @include margenes(0,0,1em);
    background-color: $negro; 
    border: solid 5px;
    border-color: $blanco;
   
        
   .foot { display: block;
      text-align: center;
      padding: 0.25em; 
      color: $blanco;
   }
}     

    


