

@media only screen and (max-width: 450px) 
 { 
     .titulos
     { font-size: 20px;
    } 
    
    p 
     {font-size: 15px ;
    } 

   iframe 
     { @include alto-ancho (200px,200px);
    } 
   
    .card {
       @include margenes (0,0,5%);}
  
    
    body 
     { background-position: 50%;
    }
 
  
 
}

@media only screen and (min-width: 450px)
{
  #cardproduct { 
    @include alto-ancho(50%,100%) ;
    display: flex;
    flex-direction: row;
    align-items: center;}

    #doble { @include alto-ancho (430px, 319px ); }
    
    .card { 
      
      @include margenes (17%,0,5%); padding: none;
    }

    .titulos {
      font-size: 30px;
    }
   
    p {
      font-size: 20px;
    } 
    
    
       
}